body {
    font-family: times new roman;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align:center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
    max-width: 800px;
    color: 'black';
    margin: 0 auto;
    font-family: 'sans-serif';
    padding: 40px;
    padding-left: 10px;
    padding-right: 10px;

